{% extends "base.html" %}
{% load static %}

{% block title %}Logowanie{% endblock %}


{% block head %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<br>
<div>
    <h2>Logowanie</h2>
    <form method="post">
    {% csrf_token %}
    {{ form }}
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </form>
    <p style="margin-top: 1rem;">Nie masz jeszcze konta?<a href="{% url 'sign_up' %}">Dołącz teraz!</a></p>
</div>
{% endblock %}