{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
    br + div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div > form {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form > button {
        margin-top: 0.5rem;
    }

    form label {
        font-style: italic;
        font-weight: bold;
    }

    h2 {
        font-style: italic;
    }

{% endblock %}

{% block content %}
<br>
<div>
    <h2>Log In</h2>
    <form method="post">
    {% csrf_token %}
    {{ form }}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
{% endblock %}