{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}


{% block style %}
    main {
        float: none;
    }

    div {
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        font-style: italic;
    }

    form label {
        font-weight: bold;
        font-style: italic;
    }

    main > div {
        margin-bottom: 5rem;
    }
{% endblock %}


{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <br/>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>
{% endblock %}