{% extends 'base.html' %}

{% block title %}Create Event{% endblock %}


{% block style %}
    form label {
        font-weight: bold;
        font-style: italic;
    }

    h2 {
        text-align: center;
    }
{% endblock %}


{% block content %}
<main>
    <section class="container my-4">
        <div class="row">
            <div class="col-9">
                <h2 class="mb-4 border-bottom pb-1" style="font-style: italic;">Edit Event</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br/>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}