{% extends 'base.html' %}
{% load static %}
{% load my_filters %}


{% block title %}Event details{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/event_details.css">
{% endblock %}


{% block content %}
<div class="container">
    <h2 class="mb-4 border-bottom pb-1" style="font-style: italic; text-align: center;">Szczegóły wydarzenia</h2>
    <div class="event" style="background-image: url({% static 'images/' %}{{ event.facility.sport.name }}.jpg);">
        <div class="content">
            <div class="left">
                <div class="info-1">
                    <span>Organizator: </span>
                    <p>{{ event.organizer }}</p>
                    <span>Adres spotkania: </span>
                    <p>{{ event.facility.address }}</p>
                </div>
                <div class="info-2">
                    <span>Data: </span>
                    <p>{{ event.date|date:"d.m.Y" }}</p>
                    <span>Czas rozpoczęcia: </span>
                    <p>{{ event.time }}</p>
                    <span>Przewidywany czas wydarzenia: </span>
                    <p>{{ event.estimated_time }} minut</p>
                </div>
            </div>
            <div class="right">
                <h3 style="font-weight: bold; font-style: italic; text-transform: uppercase; text-align: center;">Opis</h3>
                <p class="description">{{ event.description }}</p>
            </div>
        </div>
    </div>
    <h2 style="font-style: italic; text-align: center;">Uczestnicy</h2>
    {% for participant in event.participants.all %}
        <div class="participant">
            <div class="left2">
                <img class="rounded-circle profile-picture" src="{{ participant.profile.profile_picture.url }}">
                <div><a href="{% url 'user_dashboard' participant.id %}">@{{ participant.username }}</a></div>
            </div>
            <div class="right2">
                {% if participant.profile.age is not None %}
                    <p>Wiek: {{ participant.profile.age }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}