{% extends "base.html" %}
{% load my_filters %}
{% block title %}Strona Główna{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}


{% block content %}
    <div class="container">
        <h2 class="welcome">Witaj w Sports Joiner!</h2>
        <div class="content">
            <div class="block">
                <h3 class="title">O Projekcie</h3>
                <p>W dzisiejszym świecie pełnym cyfryzacji zaczynają zanikać podstawowe wartości relacji międzyludzkich.
                    Większość coraz rzadziej się integruje, przez co pozostają w samotności. Odnotować można również
                    niski współczynnik zainteresowania sportem wśród ludzi. Mowa oczywiście o aktywnym udziale a nie biernym
                    śledzeniem rozgrywek w telewizji. Aby zapobiec obydwum powyższym problemom przychodzę do Was z tą o to aplikacją.
                    Ma ona na celu zadbać o ludzkie zdrowie, zaowocować nowymi znajomościami a nawet wykształcić przyszłe gwiazdy sportowe.</p>
            </div>
            <div class="block">
                <h3 class="title">Statystyki</h3>
                <p>Aplikcja działa od bardzo niedawna, za to niezwykle dynamicznie się rozwija. Od wdrożenia jej w życie dołączyło już
                    {% total_users %} użytkowników! Z dnia na dzień widać nadzieję na powodzenie misji jakie ma do spełnienia ta aplikacja.</p>
                <h3 class="todays-statistics">Dane z dnia: {% now 'd/m/Y' %}</h3>
                <span>Ilość planowanych wydarzeń: {% todays_events %}</span>
                <span>Ilość nowych użytkowników: {% todays_users %}</span>
            </div>
            <div class="block">
                <h3 class="title">Co nowego nadchodzi?</h3>
                <p style="margin-bottom: 2rem;">Plan rozwoju aplikacji sięga najbliższych kilku lat aczkolwiek już teraz mogę się z wami podzielić następnymi najbliższymi
                    zmianami!</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Podgląd historii odbytych wydarzeń</li>
                    <li class="list-group-item">Połączenie systemu rezerwacji z systemem opłat za obiekry płatne</li>
                    <li class="list-group-item">Zwiększenie liczby dostępnych obiektów w aplikacji</li>
                </ul>
            </div>
            <div class="block">
                <h3 class="title">Dołącz już teraz</h3>
                <p>Nie zwlekaj i dołącz do Sports Joiner - jedynej i najlepszej aplikacji łączącej ludzi ze sportem!</p>
                <div class="button">
                    <a class="btn btn-primary" href="{% url 'sign_up' %}">Dołącz</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <p>Jeśli posiadasz już konto - zaloguj się. Śmiało!</p>
                <div class="button">
                    <a class="btn btn-primary" href="{% url 'login' %}">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}