{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}Moje wydarzenia{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/my_events.css">
{% endblock %}


{% block content %}
<div class="container">
    <h2>Moje wydarzenia</h2>
    <br>
    <form class="sports" action="{% url 'my_events' request.user.id %}" method="post">
        <div class="sport-category">
            <label for="sports" style="font-style: italic; font-weight: bold;">Kategorie sportowe</label>
            {% csrf_token %}
            <select name="sport_category" id="sports">
                <option value="All" {% if sport == 'All' %}selected{% endif %}>Wszystkie</option>
                <option value="pilka_nozna" {% if sport == 'pilka_nozna' %}selected{% endif %}>pilka_nozna</option>
                <option value="koszykowka" {% if sport == 'koszykowka' %}selected{% endif %}>koszykowka</option>
                <option value="siatkowka" {% if sport == 'siatkowka' %}selected{% endif %}>siatkowka</option>
            </select>
        </div>
        <div class="user-event-status">
            <label for="user-event-status" style="font-style: italic; font-weight: bold;">Status uczestnictwa</label>
            <select name="user_event_status" id="user-event-status">
                <option value="all" {% if status == 'all' %}selected{% endif %}>Wszystkie</option>
                <option value="organizer" {% if status == 'organizer' %}selected{% endif %}>organizator</option>
                <option value="participant" {% if status == 'participant' %}selected{% endif %}>uczestnik</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Filtruj">
    </form>
    {% regroup events|dictsort:'date' by date as date_list %}
    {% for elem in date_list %}
        <h2 style="margin: 1rem 0;">{{ elem.grouper|date:"d/m/Y" }}</h2>
        {% for ele in elem.list|dictsort:"time" %}
            <div class="event" style="background-image: url({% static 'images/' %}{{ ele.facility.sport.name }}.jpg);">
                <div class="content">
                    <div class="left">
                        <div class="info-1">
                            <span>Organizator: </span>
                            <p>{{ ele.organizer }}</p>
                            <span>Adres spotkania: </span>
                            <p>{{ ele.facility.address }}</p>
                        </div>
                        <div class="info-2">
                            <span>Data: </span>
                            <p>{{ ele.date|date:"d.m.Y" }}</p>
                            <span>Czas rozpoczęcia: </span>
                            <p>{{ ele.time }}</p>
                            <span>Przewidywany czas trwania: </span>
                            <p>{{ ele.estimated_time }} minutes</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="participants">
                            <span>Uczestnicy: </span>
                            <p class="participants">{{ ele.participants.all.count }}/{{ ele.max_participants }}</p>
                        </div>
                        <h3 style="font-weight: bold; font-style: italic; text-transform: uppercase; text-align: center;">Opis</h3>
                        <p class="description">{{ ele.description }}</p>
                        <a class="btn btn-secondary" href="{% url 'event_details' ele.id %}" style="font-weight: bold;">Szczegóły wydarzenia</a>
                        {% if request.user.profile in ele.participants.all and ele.participants.all.count < ele.max_participants and request.user != ele.organizer %}
                            <a class="btn btn-outline-primary" href="{% url 'leave_event' ele.id %}" style="font-weight: bold; text-transform: uppercase;">Opuść</a>
                        {% endif %}
                        {% if request.user == ele.organizer %}
                            <a class="btn btn-warning" href="{% url 'edit_event' ele.id %}" style="font-weight: bold; color: white;">Edytuj</a>
                            <a class="btn btn-danger" href="{% url 'delete_event' ele.id %}" style="font-weight: bold; color: white;">Usuń</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}