{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}My Events{% endblock %}


{% block style %}
    main > div.container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0 5rem 0;
    }

    .event {
        position: relative;
        width: 100%;
        height: 400px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
    }

    .event::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .event .content {
        width: 100%;
        position: relative;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .event .left {
        margin-left: 4rem;
        color: white;
        height: 400px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .left span {
        font-style: italic;
        font-weight: bold;
        color: orange;
        font-size: 1.5rem;
    }

    .left p {
        position: relative;
        left: 1rem;
    }

    .sports {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    p.description {
        width: 30ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.25rem;
    }

    .right {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 5rem;
    }
{% endblock %}


{% block content %}
<div class="container">
    {% regroup events by date as date_list %}
    <form class="sports" action="{% url 'my_events' request.user.id %}" method="post">
        <div class="sport-category">
            <label for="sports" style="font-style: italic; font-weight: bold;">Sport Categories</label>
            {% csrf_token %}
            <select name="sport_category" id="sports">
                <option value="All" {% if wybrana_wartosc1 == 'All' %}selected{% endif %}>All</option>
                <option value="pilka_nozna" {% if wybrana_wartosc1 == 'pilka_nozna' %}selected{% endif %}>pilka_nozna</option>
                <option value="koszykowka" {% if wybrana_wartosc1 == 'koszykowka' %}selected{% endif %}>koszykowka</option>
                <option value="siatkowka" {% if wybrana_wartosc1 == 'siatkowka' %}selected{% endif %}>siatkowka</option>
            </select>
        </div>
        <div class="user-event-status">
            <label for="user-event-status" style="font-style: italic; font-weight: bold;">User's event status</label>
            <select name="user_event_status" id="user-event-status">
                <option value="all" {% if wybrana_wartosc2 == 'all' %}selected{% endif %}>All</option>
                <option value="organizer" {% if wybrana_wartosc2 == 'organizer' %}selected{% endif %}>organizer</option>
                <option value="participant" {% if wybrana_wartosc2 == 'participant' %}selected{% endif %}>participant</option>
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Select">
    </form>
    {% for elem in date_list %}
        <h2 style="margin: 1rem 0;">{{ elem.grouper|date:"d/m/Y" }}</h2>
        {% for ele in elem.list %}
            <div class="event" style="background-image: url({% static 'images/' %}{{ ele.facility.sport.name }}.jpg);">
                <div class="content">
                    <div class="left">
                        <div class="info-1">
                            <span>Organizer: </span>
                            <p>{{ ele.organizer }}</p>
                            <span>Facility address: </span>
                            <p>{{ ele.facility.address }}</p>
                        </div>
                        <div class="info-2">
                            <span>Date: </span>
                            <p>{{ ele.date|date:"d.m.Y" }}</p>
                            <span>Event start: </span>
                            <p>{{ ele.time }}</p>
                            <span>Estimated time: </span>
                            <p>{{ ele.estimated_time }} minutes</p>
                        </div>
                    </div>
                    <div class="right">
                        <h3 style="font-weight: bold; font-style: italic; text-transform: uppercase; text-align: center; color: orange;">Description</h3>
                        <p class="description">{{ ele.description }}</p>
                        <a class="btn btn-secondary" href="{% url 'event_details' ele.id %}" style="font-weight: bold;">Show details</a>
                        {% if request.user.profile not in ele.participants.all and ele.participants.all.count < ele.max_participants %}
                            <a class="btn btn-primary" href="{% url 'join_event' ele.id %}" style="font-weight: bold; text-transform: uppercase;">Join</a>
                        {% elif request.user.profile in ele.participants.all and ele.participants.all.count < ele.max_participants and request.user != ele.organizer %}
                            <a class="btn btn-outline-primary" href="{% url 'leave_event' ele.id %}" style="font-weight: bold; text-transform: uppercase;">Leave</a>
                        {% endif %}
                        {% if request.user == ele.organizer %}
                            <a class="btn btn-warning" href="{% url 'edit_event' ele.id %}" style="font-weight: bold; color: white;">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_event' ele.id %}" style="font-weight: bold; color: white;">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}