{% extends 'base.html' %}

{% block title %}Edycja Profilu{% endblock %}


{% block head %}
    <link rel="stylesheet" href="/static/update_profile.css">
{% endblock %}


{% block content %}
<main>
    <section class="container my-4">
        <div class="row">
            <div class="col-3">
                {% include 'left-sidebar.html' %}
            </div>
            <div class="col-9">
                <h3 class="mb-4 border-bottom pb-1" style="font-style: italic;">Edycja profilu</h3>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{profile_form.as_p}}
                    <br/>
                    {{user_form.as_p}}
                    <br/>
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}