{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block style %}
    table th {
        font-style: italic;
    }
{% endblock %}

{% block content %}
<main>
    <section class="container my-4">
        <div class="row">
            <div class="col-3">
                {% include 'left-sidebar.html' %}
            </div>
            <div class="col-9">
                <h3 class="mb-4 border-bottom pb-1" style="font-style: italic;">Update Profile</h3>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{profile_form.as_p}}
                    <br/>
                    {{user_form.as_p}}
                    <br/>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}